/vendor/
composer.lock
/debian/debhelper-build-stamp
/debian/files
/debian/.debhelper/
/debian/tmp/
/deb/
/nbproject/private/
/.php_cs.cache
/.env
.vscode/settings.json
/.php-cs-fixer.cache
/tests/.phpunit.result.cache
/log/
/nbproject/configs/
/src/translations.php
/.phpunit.cache/
/.build/
!/composer.lock
/tests/selenium/.env
nbproject/project.properties
nbproject/project.xml
src/php_errors.log
debian/multiflexi-web.debhelper.log
debian/multiflexi-web.substvars
debian/multiflexi-web/
# DataTables + Buttons assets copied from vendor by copy-datatables-assets.php
# (regenerated on composer install/update; versions pinned in composer.lock)
src/js/jquery.dataTables.js
src/js/dataTables.bootstrap5.js
src/css/dataTables.bootstrap5.css
src/js/dataTables.buttons.js
src/js/buttons.bootstrap5.js
src/js/buttons.html5.js
src/js/buttons.print.js
src/js/buttons.colVis.js
src/css/buttons.bootstrap5.css
