#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	mkdir -p debian/tmp/
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  composer.json |sponge debian/tmp/composer.json
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/multiflexi-web5/usr/share/php/multiflexi-web/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/multiflexi-web5/usr/share/php/multiflexi-web/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|"  debian/multiflexi-web5/usr/share/php/multiflexi-web/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/multiflexi-web5/usr/share/php/multiflexi-web/autoload.php
	install -m0755 -d debian/multiflexi-web5/usr/share/pkg-php-tools/autoloaders
	echo 'vitexsoftware multiflexi-web multiflexi-web/autoload.php' > debian/multiflexi-web5/usr/share/pkg-php-tools/autoloaders/multiflexi-web
	# Fix vendor references to use Debian autoloader path
	sed -i -e "s/\.\.\/vendor\/autoload\.php/\/usr\/share\/php\/multiflexi-web\/autoload.php/g" debian/multiflexi-web5/usr/share/multiflexi-web/init.php
	sed -i -e '/dirname(__DIR__)/c\    "\/etc\/multiflexi\/multiflexi\.env"' debian/multiflexi-web5/usr/share/multiflexi-web/init.php
	sed -i -e 's/composer\.json/\/usr\/lib\/multiflexi\/composer\.json/g' debian/multiflexi-web5/usr/lib/multiflexi-web/MultiFlexi/Ui/PageBottom.php
	sed -i -e 's/js\/jquery.dataTables.js/\/javascript\/jquery-datatables\/jquery.dataTables.js/g' debian/multiflexi-web5/usr/lib/multiflexi-web/MultiFlexi/Ui/DBDataTable.php
	sed -i -e 's/js\/dataTables.bootstrap4.js/\/javascript\/jquery-datatables\/dataTables.bootstrap4.js/g' debian/multiflexi-web5/usr/lib/multiflexi-web/MultiFlexi/Ui/DBDataTable.php
	sed -i -e 's/css\/dataTables.bootstrap4.css/\/javascript\/jquery-datatables\/css\/dataTables.bootstrap4.css/g' debian/multiflexi-web5/usr/lib/multiflexi-web/MultiFlexi/Ui/DBDataTable.php
	sed -i 's/css\/selectize/\/javascript\/selectize.js\/css\/selectize/' debian/multiflexi-web5/usr/lib/multiflexi-web/MultiFlexi/Ui/DBDataTable.php
	sed -i -e 's/css\/font-awesome.min.css/\/javascript\/font-awesome\/css\/font-awesome.min.css/g' debian/multiflexi-web5/usr/lib/multiflexi-web/MultiFlexi/Ui/WebPage.php
	sed -i -e 's/\.\.\/i18n/\/usr\/share\/locale/g'            	     debian/multiflexi-web5/usr/share/multiflexi-web/init.php
##	sed -i "s/'';/'$$(echo $${BUILD_NUMBER})';/"  src/MultiFlexi/Ui/PageBottom.php
